<!DOCTYPE html>
<html>

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="../static/css/module.css">
	<!--Let browser know website isi optimized for mobile-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="../fortawesome/css/all.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	{{{sidenav}}}
	<main>

		<div class="row block-container">
			<h5>Research Interest</h5>
			<h6>CSCW</h6>
			<h6>Human Computer Interaction</h6>
			<h6>Machine Learning</h6>
			<h6>VR/AR</h6>
			<h6>Remote Collaboration</h6>
		</div>

		<div class="row block-container">
			<h5>Voice Manipulation for Unbalanced Audio Conference</h5>
			Unbalanced conferences are always existed in our daily life. In such conferences, due to unequal dominance, only a few people hold the chance to speak, and other people have little chance to express their opinion.

			<div class="row">
				<h5>Related Publication: </h5>
				<ul>
					<li>Tzu-Yang Wang, Ikkaku Kawaguchi, Hideaki Kuzuoka. Effect of Voice Amplitude on Audio Conference, TAICHI, 2017.08, Taiwan </li>
					<li>Tzu-Yang Wang, Ikkaku Kawaguchi, Hideaki Kuzuoka, Mai Otsuki. Investigating how amplitude and frequency affect dominance and persuasiveness, HIシンポジウム, 2018.9, つくば</li>
					<li>Tzu-Yang Wang, Ikkaku Kawaguchi, Hideaki Kuzuoka, Mai Otsuki. Eﬀect of Manipulated Amplitude and Frequency of Human Voice on Dominance and Persuasiveness in Audio Conferences, PACMHCI, Volume 2 Issue CSCW, 2018.11. [acceptance rate: 26%]</li>
				</ul>
			</div>
		</div>
		<div class="row block-container">
			<h5>Effect of Embodiment on Remote Collaboration</h5>
			In this project, we investigated how embodiment level influences AR-based remote collaboration.
			<div class="row">
				<h5>Related Publication: </h5>
				<ul>
					<li>Tzu-Yang Wang, Yuji Sato, Mai Otsuki, Hideaki Kuzuoka, Yusuke Suzuki. Effect of Full Body Avatar in Augmented Reality Remote Collaboration, 2019 IEEE Conference on Virtual Reality and 3D User Interfaces (VR), Osaka, Japan, 2019, pp. 1221-1222. </li>
				</ul>
			</div>

		</div>
		<div class="row block-container">
			<h5>Behavior of AR label</h5>
		</div>
		<div class="row block-container">
			<h5>Applied Machine Learning on Remote collaboration</h5>
		</div>

		<div class="row block-container">
			<h5>Relationship between visual and proprioception on VR sickness</h5>
		</div>

		{{{footer}}}
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!--JavaScript at end of body for optimized loading-->
</body>

</html>