<ul id="slide-out" class="sidenav sidenav-fixed">
	<li><img src="../static/images/main.jpg" alt="" class="circle responsive-img"></li>
	<li class="center-align selfie">王子洋 Tzu-Yang Wang</li>
	<li class="center-align">
		<span style="color: #3b5998;">
			<a href="https://www.facebook.com/oberonfrog"><i class="fab fa-facebook-square fa-2x"></i></a>
		</span>
		<span style="color:#0077B5;">
			<a href="https://www.linkedin.com/in/tzu-yang-wang-2a0892131/"><i class="fab fa-linkedin fa-2x"></i></a>
		</span>
		<span>
			<a href="https://github.com/st900278"><i class="fab fa-github-square fa-2x"></i></a>
		</span>

		<span style="">
			<i class="fas fa-envelope fa-2x"></i>
		</span>
	</li>
	<li><a href="/"><i class="center-align fas fa-users"></i>Profile</a></li>
	<li><a href="/project/"><i class="center-align fas fa-file"></i>Project</a></li>
	<li><a href="/publication/"><i class="center-align fas fa-book-reader"></i>Publication</a></li>
	<li><a href="/blog/"><i class="center-align fas fa-comments"></i>Blog</a></li>
	<li><a href="/link/"><i class="center-align fas fa-link"></i>Link</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>