.sidenav li
{
    padding-left:30px;
    padding-right:30px;
}

.block-container
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
}

main
{
    padding-left: 300px;
}

.sidenav
{
    font-size: 20px;
}

.sidenav li > a
{
    font-size: 20px;
}

a {
    color: inherit;
}

.card{
  padding:0px;
}

