.sidenav li
{
    padding-left:30px;
    padding-right:30px;
}

.block-container
{

}
@media screen and (min-width:1024px) {
main
{
    padding-left: 300px;
}
}

.sidenav
{
    font-size: 20px;
}

.sidenav li > a
{
    font-size: 20px;
}

a {
    color: inherit;
}

.card{
  padding:0px;
}
