<div class="ui header large">Research</div>
<div class="ui list large">

{{#research}}
    <div class="item">
        <i class="right triangle icon"></i>
        <div class="content">
            <div class="header large">{{{title}}}
            </div>
            <div class="description">{{{date}}}</div>
        </div>
    </div>
{{/research}}
</div>

{{#others}}
<div class="ui header large">Others</div>
<div class="ui list large">
    <div class="item">
        <i class="right triangle icon"></i>
        <div class="content">
            <div class="header large">{{{title}}}
            </div>
            <div class="description">{{{date}}}</div>
        </div>
    </div>
</div>
{{/others}}