<!DOCTYPE html>


<html>

<head>
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <script src="./semantic/dist/semantic.min.js"></script>
</head>

<body>



    <div class="ui massive fixed menu">
        <div class="ui container">
            <a class="header item" href="#home">Home</a>
            <a class="header item" href="#project">Projects</a>
            <a class="header item" href="#publication">Publication</a>
            <a class="header item" href="#activities">Activities</a>
            
            <a class="header item right" href="./team.html">Research Team</a>
        </div>
    </div>

    <div class="main ui container" id="home">
        <div class="ui grid stackable">
            <div class="six wide column">
                <img class="ui medium circular image" src="./static/images/main.jpg">
                <h1 class="ui header">Tzu-Yang Wang</h1>
                <h2 class="ui header">Assistant Professor</h2>
                <div class="ui list massive ">
                    <div class="item">
                        <i class="users icon"></i>
                        <div class="content">
                            Japan Advanced Institute of Science and Technology (JAIST)
                        </div>
                    </div>

                    <div class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            Nomi, Japan
                        </div>
                    </div>
                    <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                            tywang (at mark) jaist.ac.jp
                        </div>
                    </div>

                    <div class="item">
                        <i class="github icon"></i>
                        <div class="content">
                            <a>https://github.com/st900278/</a>
                        </div>
                    </div>

                </div>
                <div class="ui">

                    <a class="ui label big" href="https://scholar.google.com/citations?user=O1NJtmYAAAAJ">
                        <i class="ai ai-google-scholar-square"></i> Google Scholar
                    </a>
                    <a class="ui label big" href="https://orcid.org/0000-0002-2852-2164">
                        <i class="ai ai-orcid"></i>
                    </a>
                    <a class="ui label big" href="https://researchmap.jp/tzu-yang.wang">
                        Researchmap
                    </a>

                </div>
            </div>
            <div class="ten wide column">
                <h1 class="ui aligned header">About me</h1>
                <div class="ui introduction">
                    <p>
                        <span class="ui large  text">
                            I am Tzu-Yang Wang, an assistant professor in Graduate School of Advanced Science and
                            Technology, Japan Advanced Institute of Science and Technology (JAIST).
                        </span>
                    </p>
                    <p>
                        <span class="ui large  text">
                            I completed my Ph.D. in the Groupware Lab in University of Tsukuba, where I researched how
                            common ground affects remote collaboration, and how to support people to build common ground
                            in remote collaboration.


                        </span>
                    </p>

                    <p>
                        <span class="ui large text">
                            I am major in HCI, CSCW, and ergonomics. My current research interest focuses
                            on supporting people to effectively and efficently collaborate in face-to-face or remotely.

                        </span>

                    </p>
                </div>
                <div class="ui divider hidden" style="height: 3em;"></div>
                <div class="ui grid stackable">
                    <div class="eight wide column">
                        <h1 class="ui header">Education</h1>
                        <div class="ui list large">
                            <div class="item">
                                <i class="university icon"></i>
                                <div class="content">
                                    <div class="header large">Ph.D in Engineering, Apr 2019 - Mar 2022</div>
                                    <div class="description">Intelligent Interaction Technologies</div>
                                    <div class="description">University of Tsukuba</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="university icon"></i>
                                <div class="content">
                                    <div class="header large">M.A., Apr 2019 - Mar 2021</div>
                                    <div class="description">Kansei, Behavioral and Brain Sciences</div>
                                    <div class="description">University of Tsukuba</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="university icon"></i>
                                <div class="content">
                                    <div class="header large">M.Eng., Apr 2017 - Mar 2019</div>
                                    <div class="description">Intelligent Interaction Technologies</div>
                                    <div class="description">University of Tsukuba</div>
                                </div>
                            </div>

                            <div class="item">
                                <i class="university icon"></i>
                                <div class="content">
                                    <div class="header large">B.Eng., Jun 2014 - Jan 2017</div>
                                    <div class="description">Computer Science</div>
                                    <div class="description">National Tsing Hua University</div>
                                </div>
                            </div>


                            <div class="item">
                                <i class="university icon"></i>
                                <div class="content">
                                    <div class="header large">B.Eng, Jun 2013 - Jan 2017</div>
                                    <div class="description">Industrial Engineering and Engineering Management</div>
                                    <div class="description">National Tsing Hua University</div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="eight wide column">
                        <h1 class="ui header">Job Experience</h1>
                        <div class="ui list large">
                            <div class="item">
                                <i class="briefcase icon"></i>
                                <div class="content">
                                    <div class="header large">Assistant Professor</div>
                                    <div class="description"> Apr 2022 - Current </div>
                                    <div class="description"> Japan Advanced Institute of Science and Technology (JAIST)
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="briefcase icon"></i>
                                <div class="content">
                                    <div class="header large">Research Fellowship for Young Scientists (DC2)</div>
                                    <div class="description">Apr 2021 - Mar 2022</div>
                                    <div class="description">Japan Society for the Promotion of Science (JSPS) </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="main ui container " id="skill">
        <div class="ui three column grid stackable">
            <div class="column">
                <h2 class="ui icon header  center aligned ">
                    <i class="terminal icon"></i>
                    <div class="content">
                        Skills
                        <div class="sub header">Python, C#, R, NodeJS</div>
                        <div class="sub header">Unity 3D, Web App Development</div>
                        <div class="sub header">Motion Tracking, Biosignal sensing (EDA, ECG)</div>
                    </div>
                </h2>

            </div>
            <div class="column">
                <h2 class="ui icon header center aligned">
                    <i class="book icon"></i>
                    <div class="content">
                        Research Fields
                        <div class="sub header">HCI, CSCW, xR</div>
                        <div class="sub header">Ergonomics, Experimental Psychology</div>
                    </div>
                </h2>
            </div>
            <div class="column">
                <h2 class="ui icon header  center aligned ">
                    <i class="chalkboard teacher icon"></i>
                    <div class="content">
                        Language
                        <div class="sub header">Mandarin (Native)</div>
                        <div class="sub header">English (Fluent)</div>
                        <div class="sub header">Japanese (Fluent)</div>
                    </div>
                </h2>
            </div>
        </div>

    </div>

    <div class="main ui container" id="project">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Project</h1>
            </div>
            <div class="twelve wide column">

                <div class="ui items">
                    {{{project}}}
                </div>
            </div>
        </div>

    </div>

    <div class="main ui container" id="publication">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Publication</h1>
            </div>
            <div class="twelve wide column">
                <div class="ui teal five item inverted menu fluid">
                    <a class="active item">
                        All
                    </a>
                    <a class="item">
                        International Journal
                    </a>
                    <a class="item">
                        International Conference
                    </a>

                    <a class="item">
                        Domestic Journal
                    </a>
                    <a class="item">
                        Domestic Conference
                    </a>
                </div>

                <div class="ui list">
                    {{{publication}}}
                </div>
            </div>
        </div>

    </div>
    <div class="main ui container" id="activities">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Activities</h1>
            </div>
            <div class="twelve wide column">
                <div class="ui grid stackable">
                    <div class="eight wide column">
                        <div class="ui header large">Grant</div>
                        {{{grant}}}
                    </div>

                    <div class="eight wide column">
                        <div class="ui header large">Award</div>
                        {{{award}}}


                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="main ui container" id="social-contribution">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Social Contribution</h1>
            </div>
            <div class="twelve wide column">


                <div class="ui header large">Committee Member</div>
                <div class="ui list">
                    <div class="item">Assistant Chair @ CHI Workshop Track 2021</div>
                    <div class="item">Associate Chair @ CHI Late-Breaking Works (LBWs) Track 2021, 2020</div>
                </div>

                <div class="ui header large">Review</div>
                CSCW (2022, 2021), OZCHI (2022), VRST (2022), CHI (2021, 2020)

                <div class="ui header large">Society Member</div>
                ACM, Human Interface Society

                <div class="ui header large">Others</div>
                <div class="ui list">
                    <div class="item">Director @ University of Tsukuba Taiwan Student Association Apr. 2019 - Mar. 2020
                    </div>
                    <div class="item">Election Administration Committee @ Tokyo Taiwanese Student Association Apr. 2019
                        - Dec. 2019 </div>

                </div>
            </div>
        </div>

    </div>


    <div class="ui  vertical footer segment">
        <div class="ui center aligned container">

            <div class="ui horizontal small divided link list">
            Copyright ©2022 Tzu-Yang Wang; Design: Fomantic UI.
            </div>
        </div>
    </div>


    <!-- Content JS HERE !-->
    <style>
        .last.container {
            margin-bottom: 300px !important;
        }

        h1 {
            font-size: xx-large !important;
        }

        .main.container {
            margin-top: 7em;
        }

        div.introduction p {
            line-height: 2em;
        }

        div.author span:not(:last-of-type)::after {
            content: ", "
        }

        div#project p{
            text-align: justify;
        }
        p{
            text-align: justify;
        }

        div.publication-item{
            margin-bottom:1em;
        }
        div.publication-item div{
            margin-bottom:0.5em !important;
        }

        div.footer
        {
            margin-top:40px !important;
        }


    </style>


    <script type="text/javascript">
        $("a[href^='#']").click(function (e) {
            e.preventDefault();

            var position = $($(this).attr("href")).offset().top - 100;

            $("body, html").animate({
                scrollTop: position
            } /* speed */);
        });

    </script>
</body>

</html>