{{#project}}
<div class="item">
    <div class="ui image medium">
        <img src="{{{image}}}" class="ui centered image">
    </div>
    <div class="content">
        <a class="header">{{{title}}}</a>
        <div class="meta">
            <span></span>
        </div>
        <div class="description justified">
            <p>{{{description}}}</p>
        </div>
        <div class="extra">
            {{#label}}
            <div class="ui label">
                {{label}}
            </div>
            
            {{/label}}
        </div>
    </div>
</div>
{{/project}}