<!DOCTYPE html>


<html>

<head>
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <script src="./semantic/dist/semantic.min.js"></script>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-08MWNQGG70"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-08MWNQGG70');
	</script>
</head>

<body>



    <div class="ui massive fixed menu">
        <div class="ui container">
            <a class="header item" href="#topic">Research Topic</a>
            <a class="header item" href="#member">Members</a>
            <a class="header item" href="#join">Join My Team</a>

            <a class="header item right" href="./index.html">Personal Website</a>
        </div>
    </div>



    <div class="main ui container" id="topic">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Research Topic</h1>
            </div>
            <div class="twelve wide column">
                <div class="header ui justify">My research focuses are how human perceives and understand information from Extended Reality(xR) and how human interacts with each other in such environments. 
                    Currently, I am interested in following topics or related topics. 
                </div>
                    
                <div class="ui list big">
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                        <div class="header">Remote Collaboration</div>
                        <div class="description">Understanding how remote collaboration works and developing novel remote collaboration function to improve remote collaboration</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                        <div class="header">Social Extended Reality</div>
                        <div class="description">Investigating on how people behave in social VR and similar platform</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                        <div class="header">Novel Interaction Technology for Daily Life</div>
                        <div class="description">Creating new technology or improving current technology to improve people's daily life.</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                        <div class="header">Perception in Virtual Environment</div>
                        <div class="description">Understanding how people perceive sensory information in virtual environment, and further figuring out the mechanism of people's perception</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="main ui container" id="member">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Members</h1>
            </div>
            <div class="twelve wide column">
                {{{member}}}
            </div>
        </div>
    </div>


    <div class="main ui container" id="join">
        <div class="ui grid stackable">
            <div class="four wide column">
                <h1 class="ui header">Join My Team</h1>
            </div>
            <div class="twelve wide column">
                <div class="ui header large">興味がある方へ For student who is interested in joining my team</div>
                

                <div class="ui">
                    <p>                    
                        <span class="ui  text">
                        私の研究に興味があり，一緒に研究をやりたい方，事前に連絡してください。また，本学のルールとして，私は学生を受け入れることができないため，由井薗隆也先生の方に所属することになります。
                        
                        </span>
                    </p>
                    <p>
                        <span class="ui text">
                        連絡先: tywang[at mark]jaist.ac.jp ([at mark]を@に置き換えてください)
                        </span>
                    </p>
                    <p>
                        <span class="ui text">
                        
                        Interested applicants are encouraged to contact me before submitting the official applications. According to our school's policy, I officially cannot accept either master students or Ph.D. students. Therefore, if you pass the entrance exam, you will be joining Yuizono Lab.
                        
                        </span>
                    </p>
                    <p>
                        <span class="ui text">
                        mail: tywang[at mark]jaist.ac.jp (Please replace [at mark] with @)
                        </span>
                    </p>
                </div>


                <div class="ui header large">必要な能力　Required qualifications</div>
                <div class="ui list large">
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header">日本語または英語が堪能である。</div>
                            <div class="description">Able to speak fluent English or Japanese</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header">ヒューマンコンピューターインタラクション（HCI）に強い興味を持っている。</div>
                            <div class="description">A strong interest in human-computer interaction</div>
                        </div>
                    </div>
                </div>


                <div class="ui header large">望ましい能力　Preferred qualifications</div>
                <div class="ui list large">
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header">人を対象とする実験の実施経験</div>
                            <div class="description">Experience conducting human experiment</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">

                            <div class="header">プログラミング能力（C#, Python, Javascriptなど)　</div>
                            <div class="description">Programming experience in programming language including, but not limited to C#, python, javascript</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header">HCI，複合現実，人間工学，機械学習または実験心理学の知識を持つ　</div>
                            <div class="description">Background in experimental psychology, human-computer interaction, mixed reality, ergonomic, or machine learning/AI</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header">統計に関する知識・経験を有する</div>
                            <div class="description">Knowledge about statistical data analysis</div>
                        </div>
                    </div>
                </div>


                
            </div>
        </div>

    </div>


    <div class="ui  vertical footer segment">
        <div class="ui center aligned container">

            <div class="ui horizontal small divided link list">
            Copyright ©2022 Tzu-Yang Wang; Design: Fomantic UI.
            </div>
        </div>
    </div>


    <!-- Content JS HERE !-->
    <style>
        .last.container {
            margin-bottom: 300px !important;
        }

        h1 {
            font-size: xx-large !important;
        }


        .main.container {
            margin-top: 7em;
        }

        div#join p {
            line-height: 1.5em;
            font-size:1.2em;
        }

        div.author span:not(:last-of-type)::after {
            content: ", "
        }

        div.publication-item{
            margin-bottom:1em;
        }
        div.publication-item div{
            margin-bottom:0.5em !important;
        }

        div.footer
        {
            margin-top:40px !important;
        }


    </style>


    <script type="text/javascript">
        $("a[href^='#']").click(function (e) {
            e.preventDefault();

            var position = $($(this).attr("href")).offset().top - 100;

            $("body, html").animate({
                scrollTop: position
            } /* speed */);
        });

    </script>
</body>

</html>