<!DOCTYPE html>


<html>

<head>
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel="stylesheet" href="./node_modules/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="./node_modules/glide/dist/css/glide.theme.min.css">
    <script src="./node_modules/glide/dist/glide.min.js"></script>
    <script src="https://kit.fontawesome.com/2dad5a3f46.js" crossorigin="anonymous"></script>
    <script src="./semantic/dist/semantic.min.js"></script>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-08MWNQGG70"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-08MWNQGG70');
	</script>
</head>

<body>


    <div class="ui grid">
        <div class="row computer only">
            <div class="column">
                <div class="ui massive fixed menu stackable">
                    <div class="ui container">
                        <a class="header item" href="./index.html"><i class="home icon"></i>Home</a>
                        <a class="header item" href="#introduction"><i class="fa-solid fa-lightbulb fa-icon"></i>Research</a>
                        <a class="header item" href="#member"><i class="fa-solid fa-user-group fa-icon"></i>Members</a>
                        <a class="header item" href="#join"><i class="fa-solid fa-user-plus fa-icon"></i>Join My Team</a>

                        
                        <div class="item right">
                            <div class="ui buttons stackable language">
                                <button class="ui button active english">English</button>
                                <button class="ui button japanese">日本語</button>
                            <!--<button class="ui button">中文</button>-->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui massive fixed menu stackable">
                    <a id="mobile-menu" class="item"><i class="bars icon"></i></a>
                    <a class="header item hide-menu" href="./index.html"><i class="home icon"></i>Home</a>
                    <a class="header item hide-menu" href="#introduction"><i class="fa-solid fa-lightbulb fa-icon"></i>Research</a>
                    <a class="header item hide-menu" href="#member"><i class="fa-solid fa-user-group fa-icon"></i>Members</a>
                    <a class="header item hide-menu" href="#join"><i class="fa-solid fa-user-plus fa-icon"></i>Call for Students</a>

                    
                    <div class="item right hide-menu">
                        <div class="ui buttons stackable language">
                            <button class="ui button active english">English</button>
                            <button class="ui button japanese">日本語</button>
                        <!--<button class="ui button">中文</button>-->
                    </div>
                    </div>
                </div>

                
            </div>
           
        </div>
    </div>

    <div class="main ui container" id="introduction">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Introduction</h1>
            </div>
            <div class="twelve wide column">
                <div class="ui introduction">
                    <p class="justify">
                        <span class="ui text ">
                            Cyberpsychology & Emerging Technologies (CET) Team was started in Apr 2022. The team is working under <a href="http://www.jaist.ac.jp/ks/labs/yuizono/">Yuizono Laboratory</a> in JAIST. 
                            <a href="./index.html">Tzu-Yang Wang</a> is the team leader, and <a href="https://fp.jaist.ac.jp/public/Default2.aspx?id=454&l=1">Takaya Yuizono </a> is the advisor.
                            
                             
                        </span>
                    </p>
                    <p class="justify">
                        <span class="ui text">
                            As people's life is surrounded by technologies, we focus on how these emerging techologies shape and influence people in their daily life and work. 
                            There are two main goals in Cyberpsychology & Emerging Technologies Team: understanding people and augmenting people. 
                            For the first goal, we pay much attention on investigating how people interact with modern technologies in both psychological aspect and behavioral aspect. By conducting psychological and behavioral experiments 
                            and applying both objective measurement (eye tracking, biosignal sensing, and motion tracking) and subjective evaluation, we investigate and model people's perception, cognition, and behavior while they are using these emerging technologies. 
                            For the second goal, we are also interested in improving and developing novel and emerging technologies to alter people's behavior and strengthen people's ability, and result in a better user experience and QoL (Quality of Life). 
                        </span>
                    </p>
                    <p class="">
                        <span class="ui text">
                            Keywords: Cyberpsychology, HCI, CSCW, Ergonomics, Experimental Psychology
                             
                        </span>
                    </p>
                </div>

                
            </div>
        </div>

    </div>

    <div class="main ui container" id="topic">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Research Topic</h1>
            </div>
            <div class="twelve wide column">
                    
                <div class="ui top attached huge tabular menu stackable">
                    <a class="item active" data-tab="first">xR Remote Collaboration</a>
                    <a class="item" data-tab="second">Novel Interaction Technology in Daily Life</a>
                    <a class="item" data-tab="third">Perception in VR</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="first">
                    <p class="justify">
                    <span class="ui text">
                    Remote communication and collaboration is an important aspect for modern world. Different from face-to-face, people from different location use PC and other 
                    devices to exchange information and collaborate with each other. There are various types of remote collaboration, such as remote conference, remote instruction, 
                    remote education, online game, etc. 
                    </span>
                    </p>
                    <p class="justify">
                    <span class="ui text">
                    Instead of conventional teleconferencing tools (such as Zoom, WebEx), xR (Extended Reality) offer people chances to involve not only verbal channel but also nonverbal behavior.
                    However, in such cases, people behave differently and still often encounter difficulties of situation awareness and information understanding. 
                    Thus, in this research topic, we investigate people's cognition and behavior while using such xR-based remote collaboation tools. 
                    Further, we also aim at developing novel xR-based remote collaboration tools to improve the quality of remote collaboration.
                    </span>
                    </p>

                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide"><img  class="ui image centered" src="./static/images/project/one-to-many.jpg"></li>
                                <li class="glide__slide"><img  class="ui image centered" src="./static/images/project/remote_instruction.png"></li>
                                <li class="glide__slide"><img  class="ui image centered" src="./static/images/project/vrgd.png"></li>
                            </ul>
                        </div>
                        <div class="glide__bullets" data-glide-el="controls[nav]">
                            <button class="glide__bullet" data-glide-dir="=0"></button>
                            <button class="glide__bullet" data-glide-dir="=1"></button>
                            <button class="glide__bullet" data-glide-dir="=2"></button>
                        </div>
                    </div>
                  

                </div>
                <div class="ui bottom attached tab segment" data-tab="second">

                    <p class="justify">
                        <span class="ui text">
                            In daily life, people always have to interact with different devices and applications, such as PC, smartphone, smartspeakers, and their apps. It is important that these technologies
                            can really assist people or even augment human ability. 
                            At a basic level, we are interested in usability of these technologies and focus on implementing novel interaction method to improve the interaction between people and technologies. 
                            Furthermore, we also aim at integrating machine learning methods to enhance the possibility of these technologies.
                        </span>
                    </p>
                </div>
                <div class="ui bottom attached tab segment" data-tab="third">
                    <p class="justify">
                        <span class="ui text">
                            Virtual reality technologies, such as head mounted displays(HMDs),  allow user to enter virtual environment immersively. However, regardless the quality of the VR technologies, people perceive visual information in VR different from 
                            real world. One well-known phenomenon is that the distance is often compressed in VR; in other words, the distance is often underestimated in VR. In addition to visual information, another issue is that the source of sensory information 
                            are normally different. User receive visual information from VR while receiving other sensory information from real world. It is important to understand how people perceive and integrate these information. 
                        </span>
                    </p>
                    <p class="justify">
                        <span class="ui text">
                            In this research topic, we focus on investigating perception and ergonomic issue while people are using VR. Psychophysic method and other experimental psyhological methods are applied, and we aim at clarifying people's mechanism of perception. 
                        </span>
                    </p>
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide"><img  class="ui image centered" src="./static/images/project/VR_Treadmill.jpg"></li>
                            </ul>
                        </div>
                        <div class="glide__bullets" data-glide-el="controls[nav]">
                            <button class="glide__bullet" data-glide-dir="=0"></button>
                        </div>
                    </div>

                </div>
                


                

            </div>
        </div>

    </div>

    <div class="main ui container" id="member">
        <div class="ui grid stackable">
            <div class="four wide column">

                <h1 class="ui header">Members</h1>
            </div>
            {{{member}}}
        </div>
    </div>      


    {{{join}}}


    <div class="ui  vertical footer segment">
        <div class="ui center aligned container">

            <div class="ui horizontal small divided link list">
            Copyright ©2022 Tzu-Yang Wang; Design: Fomantic UI.
            </div>
        </div>
    </div>


    <!-- Content JS HERE !-->
    <style>
        .last.container {
            margin-bottom: 300px !important;
        }

        h1 {
            font-size: xx-large !important;
        }


        .main.container {
            margin-top: 7em;
        }

        div#join p {
            line-height: 1.5em;
            font-size:1.2em;
            
        }

        div#introduction p {
            line-height: 1.5em;
            font-size:1.4em ;
        }
        div#topic p {
            line-height: 1.5em;
            font-size:1.4em ;
        }

        div.author span:not(:last-of-type)::after {
            content: ", "
        }

        div.publication-item{
            margin-bottom:1em;
        }
        div.publication-item div{
            margin-bottom:0.5em !important;
        }

        div.footer
        {
            margin-top:40px !important;
        }
        i.fa-icon
        {
            margin: 0 .35714286em 0 0;
        }

        .justify{
            text-align: justify !important;
        }

        div#topic img{
            height: 200px;
        }
        div#member-main img{
            height: 200px;
            width: auto;
        }
    </style>


    <script type="text/javascript">
        $("a[href^='#']").click(function (e) {
            e.preventDefault();

            var position = $($(this).attr("href")).offset().top - 100;

            $("body, html").animate({
                scrollTop: position
            } /* speed */);
        });

        $('.menu .item').tab();

        new Glide('.glide', {
            type: "carousel",
            focusAt: 'center',
            perView: 2
        }).mount();

        $(".hide-menu").each((idx, elem)=>{$(elem).hide()});
        $("#mobile-menu").on('click', function(){
            $(".hide-menu").each((idx, elem)=>{$(elem).toggle()});
        });

        $(".japanese").on('click', function(e){
            location.href="./team-jp.html";
        });
    </script>
</body>

</html>